<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.franklin.androidpodcastplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RssTestActivity"
            android:label="@string/title_activity_rss_test" >
        </activity>
        <activity
            android:name=".PlayPodcastActivity"
            android:label="@string/title_activity_media_test" >
        </activity>
        <activity
            android:name=".TestsActivity"
            android:label="@string/title_activity_tests" >
        </activity>
        <activity
            android:name=".DownloadManagerActivity"
            android:label="@string/title_activity_download" >
        </activity>
        <activity
            android:name=".SubscriptionSettingsActivity"
            android:label="@string/title_activity_dsubscription_settings"
            android:theme="@style/CustomTheme" >
        </activity>

        <service android:name="edu.franklin.androidpodcastplayer.services.DownloadService" >
        </service>
        <service android:name="edu.franklin.androidpodcastplayer.services.FileManager" >
        </service>

        <activity
            android:name=".RepositoryActivity"
            android:label="@string/title_activity_download" >
        </activity>

        <service android:name=".services.DownloadService" >
        </service>
        <service android:name=".services.FileManager" >
        </service>

        <activity
            android:name=".PodcastDetails"
            android:label="@string/title_activity_podcast_details" >
        </activity>
    </application>

</manifest>